.figure
  &__sphere
    width 30px
    height 30px
    background-color #efc374
    border-radius 100%
    cursor pointer
    position absolute
    left 40%
    top 20%
  &__square
    width 30px
    height 30px
    background-color #efc374
    cursor pointer
    position absolute
    left 40%
    top 35%
